<!DOCTYPE html>

<html>

<head>
	<title>SafeStar | Signup!</title>

	{% include "dependencies-1.html" %}

	<link rel="stylesheet" type="text/css" href="/css/signup.css"/>
	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 785px)" href="/css/mobile-style.css">
	<link rel="icon" type="image/" size="20x20" href=""/>
	<script src="/js/grand.js"></script>
	<script src="/js/controllers/welcome-ctrl.js"></script>
</head>

	<body ng-app="myApp" ng-controller="masterCtrl">

		{% include "topbar-1.html" %}

		<!--  -->

		<div id="main-container" class="container-fluid">

			<div class="row padd-2" style="">
				<div class="col-md-12">
					<div class="box-12">
						<h2 class="text-center" style="margin: 0px;">Signup</h2><br>

						<form id="signup-box" enctype="application/x-www-form-urlencoded" action="/signup" method="POST">
							<input class="middlr input-s1" type="text" name="fname" placeholder="First Name"/><br>
							<input class="middlr input-s1" type="text" name="lname" placeholder="Last Name"/><br>
							<input class="middlr input-s1" type="email" name="email" placeholder="Email"/><br>
							<input class="middlr input-s1" type="password" name="pswrd" placeholder="Password"/><br>
							<input class="middlr btn btn-success transition" type="button" name="submit" value="Submit"/>
						</form>
						<br>

						<p class="text-center"><strong></strong></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="">

					</div>
				</div>
				<div class="col-md-6">
					<div class="">

					</div>
				</div>
			</div>

			<br>

		</div>

	</body>

</html>
