<!DOCTYPE html>

<html>

	<head>
		<title>SafeStar | Welcome!</title>

		{% include "dependencies-1.html" %}

		<link rel="stylesheet" type="text/css" href="/css/welcome.css"/>
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 785px)" href="/css/mobile-style.css">
		<link rel="icon" type="image/" size="20x20" href=""/>
		<script src="/js/grand.js"></script>
		<script src="/js/controllers/welcome-ctrl.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="masterCtrl">

		{% include "topbar-1.html" %}

		<!--  -->

		<div id="main-container" class="container-fluid">

			<header class="row fill parallax-window transition" id="welcome-header" data-parallax="scroll" data-image-src="/img/consolidate-4.jpg">
        <div class="dim-1"></div>
        <div class="col-md-12">
          <div id="header-text">
            <h1 class="transition" id="header-text"><strong>All Your Information, In One Location.</strong></h1>
            <p class="p-emp-1 text-s1">Make It Simple! {{ demo }}</p>
          </div>
        </div>
      </header>

			<!--  -->

			<div class="spacr-1">
				<div class="row bar-padd bg-grey-3">
					<div class="col-md-12">
						<h2 class="text-center">Everything You Need</h2>
						<br>
						<p class="text-center">
							Stop Carrying Around So Many Cards Like
							Membership Cards And Rewards Cards From Companies.<br>
							Keep All Of Your Information Secured In One Place.
						</p>
					</div>
				</div>

				<div class="row bar-padd bg-grey-2">
					<div class="col-md-12">
						<h2 class="text-center">A Win For All</h2>
						<br>
						<p class="text-center">

						</p>
					</div>
					<div class="col-md-6 padd-1">
						<p class="text-center">
							<i style="font-size: 48px;" class="fa fa-building" aria-hidden="true"></i><br><br>
							Companies won't have to spend time and money on manufacturing cards.
							They can send their customers' membership info their SafeStar account
							on our backend and access it at any time.
						</p>
					</div>
					<div class="col-md-6 padd-1">
						<p class="text-center">
							<i style="font-size: 48px;" class="fa fa-user" aria-hidden="true"></i><br><br>
							Instead of having so many cards, just have ONE card that carries
							EVERYTHING. One SafeStar account that contains every and any information
							you want it to.
						</p>
					</div>
				</div>

				<div class="row bar-padd bg-grey-4">
					<div class="col-md-12">
						<h2 class="text-center">Easy To Get Going</h2>
						<br>
						<p class="text-center">

						</p>
					</div>
					<div class="col-md-3 padd-1">
						<p class="text-center">
							<i style="font-size: 48px;" class="fa fa-plus" aria-hidden="true"></i><br><br>
							Create A SafeStar Account
						</p>
					</div>
					<div class="col-md-3 padd-1">
						<p class="text-center">
							<i style="font-size: 48px;" class="fa fa-pencil" aria-hidden="true"></i><br><br>
							Add, Edit, And/Or Delete Your Information
						</p>
					</div>
					<div class="col-md-3 padd-1">
						<p class="text-center">
							<i style="font-size: 48px;" class="fa fa-lock" aria-hidden="true"></i><br><br>
							Kept Secure On Our Backend Servers
						</p>
					</div>
					<div class="col-md-3 padd-1">
						<p class="text-center">
							<i style="font-size: 48px;" class="fa fa-cloud" aria-hidden="true"></i><br><br>
							Access Any Information You Need At Any Time Using Cloud Technology
						</p>
					</div>
				</div>

				<div class="row bar-padd fill pos-rel" data-parallax="scroll" data-image-src="/img/cloud-4.png" style="height: 50vh">
					<div class="dim-1"></div>
					<div class="col-md-12 padd-1">
						<h2 class="text-center text-white text-sdw-1 padd-2">Stored In One Place</h2>
						<br>
						<p class="text-center text-white text-sdw-1">
							On The Cloud
						</p>
					</div>
				</div>

				<div class="row bar-padd bg-grey-1 pos-rel" style="">
					<div class="col-md-12">
						<h2 class="text-center">Connect With SafeStar</h2>
						<br>
						<p class="text-center">

						</p>
					</div>
					<div class="col-md-4 padd-1">
						<p class="text-center">
							Facebook

						</p>
					</div>
					<div class="col-md-4 padd-1">
						<p class="text-center">
							Twitter

						</p>
					</div>
					<div class="col-md-4 padd-1">
						<p class="text-center">
							Google+

						</p>
					</div>
				</div>
			</div>

			<!--  -->

			<footer id="footer-bar" class="row bar-padd text-white">
				<div class="spacr-1">
					<div class="row padd-1">
						<div class="col-md-6">
							<h4><strong>SafeStar LLC.</strong></h4>
							<p>
								Copyright (c) 2016 Copyright Holder All Rights Reserved.
							</p>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a title="" href="">About</a></li>
								<li><a title="" href="">Help</a></li>
								<li><a title="" href="">FAQ</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a title="" href="">Mobile</a></li>
								<li><a title="" href="">Careers</a></li>
								<li><a title="" href="">Developers</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

		</div>

	</body>

</html>
